<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>National Parks Explorer</title>
  <link rel="stylesheet" href="/assets/styles/main.css">
  <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
  {% comment %} <header>
    <nav>
      <a href="/">Home</a>
      <a href="/parkslist/">Parks List</a>
    </nav>
  </header> {% endcomment %}
  {% include 'header' %}
  <main>
    {{ content }}
  </main>


  {% include "footer.liquid" %}
</body>
</html>
