<header>
  <nav>
    <a href="/">| Home |</a>
    <a href="/papers/">| Papers |</a>
  </nav> 
</header>
<header style="display: flex; justify-content: space-between; align-items: center;">
  <h1>Exploring APIs in Eleventy in CSCI E-114 with NPS themed content</h1>
</header>
<hr>
