---
layout: base2
title: Machine Learning Papers
---

{% assign logged_arxiv = arxiv | log %}


<h1>Machine Learning Papers</h1>


<ul>
{% for paper in arxiv %}
  <li>
    <h2><a href="/papers/{{ paper.slug }}">{{ paper.title }}</a></h2>
    <p>Authors: {{ paper.authors | join: ', ' }}</p>
  </li>
{% endfor %}
</ul>